/* 전체.css */

input[type="text"],
input[type="password"],
input[type="email"] {
  width: calc(100% - 20px);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.select-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.select-group input,
.select-group select {
  width: 230px;
  height: 45px;
  font-size: 15px;
  text-align: left;
  text-indent: 10px;
  color: gray;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  width: 300px;
  max-width: 90%;
  height: auto;
}

.modal-close {
  padding: 8px 16px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.modal-close:hover {
  background-color: #000000aa;
}

/*--------------------------------------------------*/

/* Login.css */

.login-container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 500px;
  height: 620px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

#login-logo {
  width: 500px;
  height: 150px;
}

.login-header {
  font-size: 40px;
  margin-bottom: 30px;
}

/* 로그인 버튼 */
.login-button {
  background-color: #000000;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 17px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #000000aa;
}

/* 회원가입 및 찾기 버튼 그룹 */
.all-group {
  display: flex;
  justify-content: center;
  margin: 0 1.5%;
  margin-top: 5px;
}

.all-group button {
  margin: 0;
  padding: 15px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  font-size: 17px;
}

.all-group button:not(:first-child)::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 1px;
  background-color: #000000aa;
  left: 0;
  top: 25%;
}

/* 회원가입및 찾기 버튼 */
.Signup-button,
.find-id,
.find-pw {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: min-content;
}

/* rest 로그인 버튼 */
.rest-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.rest-group button {
  margin: 0 10px;
}

/* 네이버 로그인 버튼 */
.naver-login {
  background: url(../image/naver.png) no-repeat center center;
  background-size: 100% 100%;
  padding: 25px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  transition: filter 0.3s ease;
}

.naver-login:hover {
  filter: brightness(0.9)
}

/* 카카오 로그인 버튼 */
.kakao-login {
  background: url(../image/kakao.png) no-repeat center center;
  background-size: 100% 100%;
  padding: 20px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  transition: filter 0.3s ease;
}

.kakao-login:hover {
  filter: brightness(0.9)
}

/* 로그인 오류 메세지 */
.login-failure-message {
  color: black;
  text-align: center;
  margin-top: -5px;
  margin-bottom: -15.5px;
}

/*--------------------------------------------------*/

/* Signup.css */

.Signup-container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 500px;
  height: 740px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

#Signup-logo {
  margin-top: 0px;
  width: 500px;
  height: 100px;
}

.Signup-header {
  font-size: 35px;
  margin-bottom: 30px;
}

.id-group {
  display: flex;
  align-items: center;
}

.id-form {
  flex: 1;
}

.id-form input {
  width: 95%;
}

.id-group button {
  margin-left: 10px;
}

.check {
  background-color: #000000;
  color: #fff;
  height: 50px;
  width: 75px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.check:hover {
  background-color: #000000aa;
}

/* 가입하기 버튼 */
.Signup {
  background-color: #000000;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
  margin-top: 35px;
  margin-bottom: 10px;
  font-size: 17px;
  transition: background-color 0.3s ease;
}

.Signup:hover {
  background-color: #000000aa;
}

/*--------------------------------------------------*/

/* IdFind.css */

.id-find-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 500px;
  height: 470px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

#idfind-logo {
  margin-top: 0px;
  width: 500px;
  height: 150px;
}

.idfind-header {
  font-size: 35px;
  margin-bottom: 30px;
}

/* 아이디 찾기 버튼 */
.idfind {
  background-color: #000000;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
  margin-top: 35px;
  font-size: 17px;
  transition: background-color 0.3s ease;
}

.idfind:hover {
  background-color: #000000aa;
}

/* 아이디 모달 */

.found-id {
  font-size: 20px;
}

.idfind-modal {
  margin: 0 10px;
}

.idfind-modal {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.idfind-modal button {
  margin: 0 10px;
  margin-top: 30px;
}

.idfind-login {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s ease;
}

.idfind-fwfind {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 50%;
  transition: background-color 0.3s ease;
}

/*--------------------------------------------------*/

/* PwFind.css */

.pwfind-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 500px;
  height: 470px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

#pwfind-logo {
  margin-top: 0px;
  width: 500px;
  height: 150px;
}

.pwfind-header {
  font-size: 35px;
  margin-bottom: 30px;
}

/* 비밀번호 찾기 버튼 */
.pwfind {
  background-color: #000000;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
  margin-top: 35px;
  font-size: 17px;
  transition: background-color 0.3s ease;
}

.pwfind:hover {
  background-color: #000000aa;
}

/*--------------------------------------------------*/

/* Main.css */

.main-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 검색어 관리 버튼 */
.management-button {
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #000000;
  color: #fff;
  margin-right: 10px;
}

.management-button:hover {
  background-color: #000000aa;
}

/* 상품관리 버튼 */
.product-management-button {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #000000;
  color: #fff;
}

.product-management-button:hover {
  background-color: #000000aa;
}


.search-input-container {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* 검색창 */
.search-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  grid-column: span 8;
}

/* 검색버튼 */
.search-product-button {
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #000000;
  color: #fff;
}

.search-product-button:hover {
  background-color: #000000aa;
}

/* 정렬 select */
.sort-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sort-container input,
.sort-container select {
  width: 70px;
  height: 30px;
}

.sort-container label {
  margin-right: 10px;
}

.add-product-button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #000000;
  color: #fff;
  margin-top: 10px;
}

.add-product-button:hover {
  background-color: #000000aa;
}

/*--------------------------------------------------*/

/* AddProducts.css */

.add-products-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 700px;
  height: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

/*--------------------------------------------------*/

/* search-keyword.css */

.search-keyword-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 700px;
  height: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

/* 검색 기록 */
.keyword-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

/* 삭제 버튼 */
.delete-button {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 9px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff6666aa;
}

/*--------------------------------------------------*/

/* ProductManagement.css */

.product-management-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 700px;
  height: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

/* 내 상품 */
.management-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;

  /* 삭제 버튼 */
  .delete-button {
    background-color: #ff6666;
    color: white;
    border: none;
    padding: 9px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  .delete-button:hover {
    background-color: #ff6666aa;
  }
}
/* modal.css */

/* modal.css */

/* modal.css */

.modal-container {
  position: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80%;
  max-height: 30vh;
  overflow: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.chat-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #eeeeee;
}

.chat-input:focus {
  outline: none;
}

.chat-messages {
  margin-top: 20px;
  width: calc(100% - 20px);
  max-height: calc(100% - 120px);
  overflow-y: auto;
}

.chat-message {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.buy-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #0056b3;
}

.resizable-modal {
  max-width: 80%; /* 최대 너비 설정 */
  max-height: 80%; /* 최대 높이 설정 */
  overflow: auto; /* 넘치는 콘텐츠를 스크롤로 처리 */
}

/* 채팅 컨테이너 */
.chat-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 메시지 컨테이너 */
.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

/* 메시지 박스 */
.message {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #f0f0f0;
  max-width: 70%;
}

/* 보낸 메시지 스타일 */
.own-message {
  align-self: flex-end;
  background-color: #007bff;
  color: #fff;
}

/* 받은 메시지 스타일 */
.other-message {
  align-self: flex-start;
}

/* 메시지 텍스트 스타일 */
.message-text {
  margin: 0;
}

/* 메시지 입력 폼 */
.message-input-form {
  display: flex;
  margin-top: 10px;
}

/* 메시지 입력 창 */
.message-input-form input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* 전송 버튼 */
.message-input-form button {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  outline: none;
}

/* 전송 버튼 호버 효과 */
.message-input-form button:hover {
  background-color: #0056b3;
}
