/* admin.css */

.admin-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-table th,
.user-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.user-table th {
    background-color: #007bff;
    color: #fff;
}

.user-table tbody tr:hover {
    background-color: #f2f2f2;
}

.user-table button {
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.user-table button.approve {
    background-color: #4CAF50;
}

.user-table button.reject {
    background-color: #FF5733;
}

.user-table button.approve:hover {
    background-color: #45a049; /* 승인 버튼에 대한 hover 색상 */
}

.user-table button.reject:hover {
    background-color: #e53935; /* 거절 버튼에 대한 hover 색상 */
}

.user-table button:hover {
    opacity: 0.8;
}

.user-list-button {
    padding: 6px 10px;
    font-size: 11px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-list-button:hover {
    background-color: #0056b3;
}

/* admin.css */


.admin-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경에 투명도를 주어 모달이 나타날 때 뒷 배경이 어둡게 보이도록 합니다. */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과를 줍니다. */
  }
  
  .modal-content img {
    max-width: 100%; /* 이미지가 모달 내에서 너무 크게 보이지 않도록 최대 너비를 설정합니다. */
  }
  
  button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* 버튼 위에 마우스를 올렸을 때 배경색을 바꿉니다. */
  }
  