/* admin.css */

.admin-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container covers the full viewport height */
}

.admin-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Adjusted card width */
  gap: 20px;
}

.admin-user-card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.admin-user-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-status {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
}

.admin-status.pending {
  background-color: #ffc107;
  margin-top: 15px;
  margin-bottom: -15px;
  margin-right: 74%;
  text-align: center;
}

.admin-status.approved {
  background-color: #28a745;
  margin-top: 15px;
  margin-bottom: -15px;
  margin-right: 74%;
  text-align: center;
}

.admin-status.rejected {
  background-color: #dc3545;
  margin-top: 15px;
  margin-bottom: -15px;
  margin-right: 74%;
  text-align: center;
}

.admin-options-container {
  display: flex;
  align-items: center;
}

/* Styles for the Modal */
.MuiModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiPaper-modal {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  outline: none;
  padding: 20px;
}

/* Additional styling for Toolbar */
.admin-toolbar {
  background-color: #1976d2; /* Blue */
  color: #fff;
}

/* Adjustments for large screens (1920px width) */
@media (min-width: 1920px) {
  .admin-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Adjusted card width for larger screens */
  }

  .MuiPaper-modal {
    width: 600px; /* Increase modal width for better visibility on larger screens */
  }
}