/* 사이드바 스타일 */
.chatsidebar-container {
  display: flex;
  height: calc(100vh - 120px);
  overflow-y: auto;
  background-color: #ffffff;
  border: none;
}

.loading-text {
  margin-left: 15px;
}

.chatsidebar {
  width: 300px;
  background-color: #f4f4f4;
  padding: 10px;
  border-top-right-radius: 15px;
}

/* 채팅 헤더*/
.chat-heading {
  margin-left: 15px;
}


.chat-room-item {
  background-color: transparent;
}

.chat-room-name {
  font-size: 18px;
}

/* 채팅방 */
.chat-room-button {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 15px;
  cursor: pointer;
  text-align: left;
}

/* 채팅방 선택시 */
.selected {
  background-color: #e6e6e6;
  border-radius: 10px;
}


.chat-room-list {
  list-style-type: none;
  padding: 0;
}

/* 채팅 창 스타일 */
.chat-window {
  max-width: 1000px;
  flex-grow: 1;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  margin-left: 0px;
  padding: 20px;
  overflow-y: auto;
}

.chat-open {
  width: calc(100% - 320px);
  /* 사이드바 너비 + 채팅창과의 간격 */
}

.submit-button{
  padding: 15px !important;
  height: 50px !important;
  width: 70px !important;
  margin-top: 9px !important;
}