/* main.css */

/* 메인 컨테이너 */
.container-main {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  padding-top: 120px;
  margin: 0 auto;
}

/* Header */
.header-main {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  max-width: 1300px;
  flex-grow: 1;
  padding: 0px 10px 0px 10px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  align-items: center;
}

/* = 버튼 */
.nav-menu-toggle {
  color: #103260;
  font-size: 25px;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 0px;
}

.nav-menu-toggle:hover {
  color: #000000;
}

#logo {
  width: 210px;
  height: 130px;
  display: block;
  margin-left: 10px;
}

/* 검색창 */
input[type="search"] {
  padding: 15px;
  width: 800px;
  border-radius: 5px;
  border: 3px solid #103260;
  font-size: 16px;
  box-sizing: border-box;
  margin: auto;
  margin-left: 0px;
  margin-right: 50px;
}

.search-input::-webkit-search-cancel-button {
  display: none;
}

.search-input::-webkit-search-decoration {
  display: none;
}

/* 헤더 버튼 */
.header-buttons {
  display: flex;
  gap: 10px;
  margin-right: 7px;
}

.header-button {
  background-color: transparent;
  border: none;
  color: #103260;
  font-size: 25px;
  cursor: pointer;
}

.header-button:hover {
  color: #000000;
  font-size: 27px;
}

/* 사이드 바 */
.sidebar {
  background-color: #022a52;
  width: 240px;
  height: 100%;
  position: fixed;
  border: none;
  overflow: hidden;
  border-top-right-radius: 20px;
  top: 0;
  left: -250px;
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 60px;
}

.sidebar.show {
  left: 0;
}

.sidebar-item {
  display: grid;
  border: 3px solid #ffffff;
  border-radius: 10px;
  height: 180px;
  width: 180px;
  color: white;
  padding-left: 15px;
  margin-block-start: 10px;
  margin-bottom: 15px;
}

.user-info {
  color: #ffffff;
  font-size: 15px;
  margin-top: 20px;
}

.main_navigation {
  padding: 20px;
}

.main-nav-button {
  display: block;
  background-color: #022a52;
  color: #ffffff;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: calc(100% - 40px);
  text-align: left;
  cursor: pointer;
  font-size: 15px;
}

.main-nav-button:hover {
  font-size: 17px;
}

.main-nav-button svg {
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.close-menu-btn {
  position: absolute;
  color: #ffffff;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.close-menu-btn:hover {
  font-size: 17px;
}

/* Main content container */
.main-container {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}