/* main.css */

#main-logo {
  width: 240px;
  height: 150px;
  margin-top: -10px;
}

/* 메인 컨테이너 스타일 */
.container-main {
  max-width: 1200px; /* 최대 너비 */
  margin: 0 auto; /* 가운데 정렬 */
  padding: 10px; /* 안쪽 여백 */
}

/* 메인 헤더 스타일 */
.header-main {
  display: flex; /* 플렉스 박스로 배치 */
  align-items: center; /* 수직 정렬 */
  justify-content: space-between; /* 요소 사이의 간격을 최대로 확보하여 요소를 배치 */
  margin-bottom: 20px; /* 하단 마진 */
}

/* 내비게이션 스타일 */
.navigation {
  display: flex; /* 플렉스 박스로 배치 */
}

/* 내비게이션 버튼 스타일 */
.nav-button {
  height: 40px;
  padding: 10px; /* 안쪽 여백 */
  margin-right: 0px; /* 우측 마진 */
  margin-top: -70px; /* 상단 마진 조정 */
  background-color: #ffffff; /* 배경색 */
  color: #000000; /* 텍스트 색상 */
  border: none; /* 테두리 없음 */
  border-radius: 5px; /* 모서리 굴곡 */
  cursor: pointer; /* 커서 타입 */
  font-size: 14px;
  transition: filter 0.3s ease;
}

.nav-button:hover {
  filter: brightness(0.8)
}

/* 검색 컨테이너 스타일 */
.search-container {
  display: flex; /* 플렉스 박스로 배치 */
  margin-bottom: 20px; /* 하단 마진 */
}

/* 검색 입력 필드 스타일 */
.search-input {
  flex: 1; /* 남은 공간 모두 차지 */
  padding: 10px; /* 안쪽 여백 */
  border: 1px solid #ccc; /* 테두리 */
  border-radius: 5px; /* 모서리 굴곡 */
}

/* 검색 버튼 스타일 */
.search-button {
  padding: 18px 22px; /* 안쪽 여백 */
  margin-left: 10px; /* 좌측 마진 */
  background-color: #103260; /* 배경색 */
  color: #fff; /* 텍스트 색상 */
  border: none; /* 테두리 없음 */
  border-radius: 5px; /* 모서리 굴곡 */
  cursor: pointer; /* 커서 타입 */
  transition: filter 0.3s ease;
}

.search-button:hover {
  filter: brightness(0.8)
}

/* 메인 컨테이너 스타일 */
.main-container {
  display: grid; /* 그리드로 배치 */
  grid-template-columns: 1fr; /* 컬럼 1개 */
  gap: 20px; /* 그리드 간격 */
}

/* 추가 버튼 스타일 */
.add-button {
  position: fixed; /* 고정 위치 */
  bottom: 20px; /* 하단 여백 */
  right: 20px; /* 우측 여백 */
  padding: 10px; /* 안쪽 여백 */
  background-color: #103260; /* 배경색 */
  color: #fff; /* 텍스트 색상 */
  border: none; /* 테두리 없음 */
  border-radius: 50%; /* 모서리를 둥글게 만듦 */
  font-size: 20px; /* 폰트 크기 */
  cursor: pointer; /* 커서 타입 */
}

/* 정렬 기준.css */

.sort-container {
  margin-bottom: 20px;
}

.sort-container label {
  font-weight: bold;
  margin-right: 10px;
}

.sort-container select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}