/* myinfo.css */

/* 내 정보 헤더 스타일 */
.myinfo-header {
    font-size: 40px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 70px;
}

/* 내 정보 컨테이너 스타일 */
.myinfo-container {
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #2f4f4f50;
    border-radius: 5px;
    overflow-y: auto;
    text-align: center;
    margin-bottom: 20px;
}

/* 비밀번호 입력 문구 스타일 */
.input-password {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* 확인 버튼 스타일 */
.myinfo-button {
    background-color: #103260;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 17px;
    transition: filter 0.3s ease;
}

.myinfo-button:hover {
    filter: brightness(0.8)
}

/* 사용자 정보 편집 스타일 */
.user-edit {
    margin-top: 20px;
    /* 상단 마진 */
}