/* main.css */
/* 내 정보 헤더 스타일 */
.myinfo-header {
    text-align: center; /* 텍스트 가운데 정렬 */
    margin-bottom: 20px; /* 하단 마진 */
}

/* 내 정보 컨테이너 스타일 */
.myinfo-container {
    max-width: 400px; /* 최대 너비 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 20px; /* 안쪽 여백 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 테두리 모서리의 굴곡 */
}

/* 비밀번호 입력 문구 스타일 */
.input-password {
    margin-bottom: 10px; /* 하단 마진 */
}

/* 비밀번호 입력 필드 스타일 */
input[type="password"] {
    width: 100%; /* 너비 지정 */
    padding: 10px; /* 안쪽 여백 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 테두리 모서리의 굴곡 */
    margin-bottom: 10px; /* 하단 마진 */
}

/* 확인 버튼 스타일 */
.myinfo-button {
    width: 100%; /* 너비 지정 */
    padding: 10px; /* 안쪽 여백 */
    background-color: #007bff; /* 배경색 */
    color: #fff; /* 텍스트 색상 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 모서리 굴곡 */
    cursor: pointer; /* 커서 타입 */
}

/* 사용자 정보 편집 스타일 */
.user-edit {
    margin-top: 20px; /* 상단 마진 */
}
