/* Container Styles */
.container.my-4 {
  padding: 1rem;
  
  border-radius: 8px;
}

/* Header Styles */
.container.my-4 h1.mb-4 {
  color: #343a40;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

/* Spinner Styles */
.d-flex.justify-content-center.align-items-center {
  height: 60vh;
}

.spinner-border {
  color: #007bff;
}

/* Card Styles */
.card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Card Body Styles */
.card-body {
  padding: 1rem;
}

/* Card Title Styles */
.card-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #343a40;
  margin-bottom: 0.5rem;
}

/* Card Subtitle Styles */
.card-subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  color: #6c757d;
  margin-bottom: 0.75rem;
}

/* Card Text Styles */
.card-text {
  font-size: 0.875rem;
  font-weight: 400;
  color: #495057;
}

/* Row and Column Styles */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

.col-md-6,
.col-lg-3 {
  padding: 0.5rem;
  flex: 0 0 calc(25% - 1rem);
  max-width: calc(25% - 1rem);
  margin-bottom: 1rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .col-md-6,
  .col-lg-3 {
    flex: 0 0 calc(33.33% - 1rem);
    max-width: calc(33.33% - 1rem);
  }
}

@media (max-width: 992px) {
  .col-md-6,
  .col-lg-3 {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media (max-width: 576px) {
  .col-md-6,
  .col-lg-3 {
    flex: 0 0 calc(100% - 1rem);
    max-width: calc(100% - 1rem);
  }
}