  /* addproducts.css */

  .add-products-header {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }

  /* 상품 추가 컨테이너 */
  .add-products-container {
    max-width: 700px;
    height: 450px;
    max-height: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #2f4f4f50;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  /* 상품 추가 버튼 */
  .add-product-button {
    background-color: #103260;
    color: #ffffff;
    border: 2px solid #103260;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    font-size: 17px;
    padding: 15px 20px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .add-product-button:hover {
    outline: 0;
    box-shadow: 0 0 40px 40px #103260 inset, 0 0 5px 1px #103260;
  }

  /*--------------------------------------------------------------------------------*/

  /* productdetail.css */

  /* 디테일 컨테이너 */
  .product-detail {
    max-width: 700px;
    height: 450px;
    max-height: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #162b9150;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 20px;
  }

  /* 상품 이름 */
  .product-name {
    font-size: 25px;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  /* 상품 설명 */
  .product-description,
  .product-price,
  .product-date,
  .product-views,
  .product-availability {
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .product-info {
    display: flex;
    flex-direction: column;
  }

  .product-info p {
    margin-bottom: 10px;
  }

  /* 채팅하기 버튼 */
  .chat-button {
    background-color: #103260;
    color: #ffffff;
    border: 2px solid #103260;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    font-size: 17px;
    padding: 15px 20px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    width: 95%;
    margin-top: 80px;
  }

  .chat-button:hover {
    outline: 0;
    box-shadow: 0 0 40px 40px #103260 inset, 0 0 5px 1px #103260;
  }

  .ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ReactModal__Content {
    position: relative;
    max-width: 600px;
    max-height: 80vh;
    margin: auto;
    overflow-y: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }

  /* productlist.css */
  .product-list-container {
    overflow-x: auto;
    /* 가로 스크롤을 가능하게 함 */
  }

  .product-list-wrapper {
    display: flex;
    /* 상품 리스트를 가로로 정렬 */
  }

  .product-grid {
    display: flex;
    /* 상품 그리드를 가로로 정렬 */
    flex-wrap: nowrap;
    /* 상품 그리드를 한 줄에 표시하고 넘치는 부분은 보이지 않도록 함 */
    margin: 0;
    /* 왼쪽과 오른쪽 여백 제거 */
    padding: 0;
    /* 내부 여백 제거 */
  }

  .product-item {
    flex: 0 0 auto;
    /* 상품 아이템 크기를 고정 */
    margin-right: 20px;
    /* 상품 아이템 간격 설정 */
    max-width: 300px;
    /* 상품 아이템 최대 너비 설정 */
    border: 1px solid #ccc;
    /* 테두리 추가 */
    border-radius: 5px;
    /* 테두리 둥글게 처리 */
    overflow: hidden;
    /* 넘치는 부분 숨김 */
  }

  .product-item:last-child {
    margin-right: 0;
    /* 마지막 상품 아이템의 오른쪽 여백 제거 */
  }

  .product-image-container {
    overflow: hidden;
    /* 이미지 넘치는 부분 숨김 */
  }

  .product-image {
    width: 100%;
    /* 이미지를 상품 아이템의 너비에 맞게 설정 */
    height: auto;
    /* 이미지 비율 유지 */
  }

  /*--------------------------------------------------------------------------------*/

  /* productmanagement.css */

  .product-management-header {
    font-size: 40px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 40px;
  }

  .product-management-container {
    max-width: 700px;
    max-height: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #2f4f4f50;
    border-radius: 5px;
    overflow-y: auto;
    margin-bottom: 20px;
  }

  .management-list {
    padding: 0;
    list-style: none;
  }

  .management-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
    border-bottom: 1px solid #ccc;
  }

  .management-text {
    cursor: pointer;
    font-weight: bold;
  }

  .product-save,
  .product-cancel,
  .product-delete,
  .product-edit,
  .product-sell {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 9px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  .product-save:hover,
  .product-cancel:hover,
  .product-delete:hover,
  .product-edit:hover,
  .product-sell:hover {
    background-color: #0056b3;
  }