/* main.css */

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input-container {
    flex: 1;
    margin-right: 10px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-product-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .search-product-button:hover {
    background-color: #0056b3;
  }
  