/* useredit.css */

.user-edit-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .user-edit-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .user-edit-container p {
    margin-bottom: 10px;
  }
  
  .user-edit-container input[type="text"],
  .user-edit-container input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .user-edit-container button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .user-edit-container button:hover {
    background-color: #0056b3;
  }
  
  /* Modal Styles */
  .ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .ReactModal__Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
  }
  
  .Modal-buttons {
    margin-top: 10px;
  }
  
  .Modal-buttons button {
    margin-right: 10px;
  }
  